div {
    /* display: block; */
}

img {
    /* opacity: 0; */
    box-shadow: 10px 10px 10px black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    /* background: #6589F9; */
}

.grid {
    max-width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 5px;
    /* background-color: #6589F9; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.selected {
    border: 2px solid orange;
    transform: scale(1.1);
}


/* img:active {
    opacity: 1;
} */

.match {
    border: 4px solid red;
    opacity: .5;
}